@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------------
news 
----------------------------------------------------------*/
.news ul {
	margin: 0 0 45px 0;
}
.news ul li {
	border-bottom: 1px dotted #273179;
	padding: 15px 0;
	overflow: hidden;
}

.news ul li dt{
	float: left;
	line-height: 30px;
}
.container.news ul li dd {
	overflow: hidden;
    padding-left: 45px;
	line-height: 30px;
}
.container.news ul li dd p{
	float: left;
}

.container.news ul li dd p.label{
	background: #273179;
	color: #ffffff;
	padding: 0 8px;
	margin-right: 15px;
}

@media screen and (max-width: 640px) {
/*-----------------------------------------
news
-----------------------------------------*/
.news ul li dt{
	line-height: 1.5;
}
.container.news ul li dd {
    padding-left: 15px;
	
}
.container.news ul li dd p{
	line-height: 1.2;
}

.container.news ul li dd p.label{
	line-height: 1.5;
}
}